.inscreva {
    background: #508DC7;
    color: #fff;
    padding: 3rem 0;
}

.searchCourse {
    padding: 2rem 0;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    gap: 1rem;
}

.searchCourse select {
    background: #fff;
    color: #000;
    border: none;
    padding: 1rem 2rem;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
}

.searchCourse input {
    background: #fff;
    color: #000;
    border: none;
    padding: 1rem 2rem;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
}

.searchCourse button {
    background: #DD1C65;
    color: #fff;
    border: none;
    padding: 1rem 2rem;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
}